.navbar{
    background-color: lightgrey;
}
.btn-outline-success {
    color: #000;
    border-color: #000;
}

.jumbotron{
    background-image: url('../imgs/pizza.png');
    text-align: center;
    padding: 4rem 0;
}

.jumbotron>h1{
    background-color: #fff;
    opacity: .5;
    width: 100%;
}

.btn{
    float: right;
}

.card-header{
    background-color: #307FF6;
    color: white;
}

.card-body .card-header{
    background-color: lightgrey;
    color: black;
}

.input-group{
    border: 1px solid whitesmoke;
}

.align-left{
    text-align: left;
}

.remove-margin {
    margin: 0;
}

.card{
    margin-bottom: 2em;
}

.input-group-text{
    background-color: white;
    border: none;
}

.btn{
    padding: 0;
}

.form-check {
    border: 1px solid whitesmoke;
}