#container {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

h1, h2, .fancy-header {
    color: forestgreen;
    text-decoration: underline;
}

body {
    color: white;
    background-color: lightcyan;
    background-image:url(../img/background.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}

ul {
    list-style-type: square;
}