@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");


body {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    color: #98999B;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.column {
    width: 33%;
    display: inline-block;
    text-align: center;
}

hr {
    border-color: #98999B;
}

h1, h2, h3, h4, h5, h6 {
    color: #8AB052;
    text-decoration: underline;
}

.table-border{
    border: 2px #98999B solid;
}

table {
    font-size: 25px;
}

th {
    text-decoration: underline;
}
td {
    padding: 10px;
}

a:link {
    color:red;
}

a:visited {
    color:black;
}

a:hover {
    color:blue;
}

a:active {
    color:green;
}

.img_size {
    height: 400px;
    width: 400px;
}
